---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=1000&per_page=5&q=golang%20rest%20api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1650493011'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Only the first 1000 search results are available","documentation_url":"https://docs.github.com/v3/search/"}'
  recorded_at: Wed, 20 Apr 2022 22:15:51 GMT
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=desc&page=2&per_page=5&q=golang%20rest%20api&sort=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?order=desc&page=1&per_page=5&q=golang+rest+api&sort=name>;
        rel="prev", <https://api.github.com/search/repositories?order=desc&page=3&per_page=5&q=golang+rest+api&sort=name>;
        rel="next", <https://api.github.com/search/repositories?order=desc&page=200&per_page=5&q=golang+rest+api&sort=name>;
        rel="last", <https://api.github.com/search/repositories?order=desc&page=1&per_page=5&q=golang+rest+api&sort=name>;
        rel="first"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1650493011'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":4365,"incomplete_results":false,"items":[{"id":143390604,"node_id":"MDEwOlJlcG9zaXRvcnkxNDMzOTA2MDQ=","name":"zero-to-restful-api-using-buffalo","full_name":"conradwt/zero-to-restful-api-using-buffalo","private":false,"owner":{"login":"conradwt","id":20219,"node_id":"MDQ6VXNlcjIwMjE5","avatar_url":"https://avatars.githubusercontent.com/u/20219?v=4","gravatar_id":"","url":"https://api.github.com/users/conradwt","html_url":"https://github.com/conradwt","followers_url":"https://api.github.com/users/conradwt/followers","following_url":"https://api.github.com/users/conradwt/following{/other_user}","gists_url":"https://api.github.com/users/conradwt/gists{/gist_id}","starred_url":"https://api.github.com/users/conradwt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/conradwt/subscriptions","organizations_url":"https://api.github.com/users/conradwt/orgs","repos_url":"https://api.github.com/users/conradwt/repos","events_url":"https://api.github.com/users/conradwt/events{/privacy}","received_events_url":"https://api.github.com/users/conradwt/received_events","type":"User","site_admin":false},"html_url":"https://github.com/conradwt/zero-to-restful-api-using-buffalo","description":"An
        example implementation of a Restful API using Buffalo Web Framework.","fork":false,"url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo","forks_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/forks","keys_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/teams","hooks_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/hooks","issue_events_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/issues/events{/number}","events_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/events","assignees_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/assignees{/user}","branches_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/branches{/branch}","tags_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/tags","blobs_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/git/refs{/sha}","trees_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/statuses/{sha}","languages_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/languages","stargazers_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/stargazers","contributors_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/contributors","subscribers_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/subscribers","subscription_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/subscription","commits_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/commits{/sha}","git_commits_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/git/commits{/sha}","comments_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/comments{/number}","issue_comment_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/issues/comments{/number}","contents_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/contents/{+path}","compare_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/merges","archive_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/downloads","issues_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/issues{/number}","pulls_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/pulls{/number}","milestones_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/milestones{/number}","notifications_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/labels{/name}","releases_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/releases{/id}","deployments_url":"https://api.github.com/repos/conradwt/zero-to-restful-api-using-buffalo/deployments","created_at":"2018-08-03T07:00:55Z","updated_at":"2018-08-03T09:44:11Z","pushed_at":"2018-08-03T09:44:10Z","git_url":"git://github.com/conradwt/zero-to-restful-api-using-buffalo.git","ssh_url":"git@github.com:conradwt/zero-to-restful-api-using-buffalo.git","clone_url":"https://github.com/conradwt/zero-to-restful-api-using-buffalo.git","svn_url":"https://github.com/conradwt/zero-to-restful-api-using-buffalo","homepage":"","size":10,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":["buffalo","buffalo-framework","go","golang","tutorial","tutorial-code"],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","score":1.0},{"id":171943941,"node_id":"MDEwOlJlcG9zaXRvcnkxNzE5NDM5NDE=","name":"zenfighter-api","full_name":"apostrophedottilde/zenfighter-api","private":false,"owner":{"login":"apostrophedottilde","id":7415568,"node_id":"MDQ6VXNlcjc0MTU1Njg=","avatar_url":"https://avatars.githubusercontent.com/u/7415568?v=4","gravatar_id":"","url":"https://api.github.com/users/apostrophedottilde","html_url":"https://github.com/apostrophedottilde","followers_url":"https://api.github.com/users/apostrophedottilde/follow[...]
